* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#testimonial {
    width: 100%;
    min-height: auto;
    background-color: #e1e1e1;
}
.container-testimonial {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    padding-bottom: 50px;
}
.testi {
    border-radius: 10px;
    background-color: #48cbff;
    height: 250px !important;
}
.testi p {
    margin: 20px;
    font-size: 13pt; 
    font-weight: 400;
    font-style: italic;
}