.container {
    height: 656px !important;
}
.sign-box {
    width: 550px;
    height: 615px;
    background-color: rgba(36, 36, 36, 0.7);
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 20px;
}
.sign-box img {
    margin-top: 20px;
}
.sign-box .digital {
    margin: 0;
}
form {
    position: relative;
    top: 200px;
}
.sign-box form label
{
	margin: 0;
	padding: 0;
    font-weight: 600;
    font-size: 14pt;
    color: #fff;
    text-align: left;
    margin-left: 27px;
    float: left;
}
.sign-box input
{
	width: 90%;
	margin-bottom: 20px;
}
.sign-box input[type="text"],
.sign-box input[type="password"]
{
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.sign-box input[type="submit"] {
    position: relative;
    top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
    font-size: 22px;
    font-weight: 600px;
	background: #24D11B;
	cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
}
.merah {
    background-color: rgb(216, 0, 0) !important;
}
.punya {
    position: relative;
    top: 207px;
}
.punya p {
    display: inline-block;
    margin-bottom: 10px !important;
    color: white;
    font-size: 14pt;
    font-weight: 200;
}
.punya a {
    text-decoration: none;
    background-color: indigo;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
#remember {
    width: auto;
    width: 15px;
    height: 15px;
    float: left;
}
@media screen and (max-width: 720px) {
    .sign-box {
        margin-right: 1%;
        margin-left: 1%;
    }
}
@media screen and (max-width: 480px) {
    .sign-box input, select, button {
        width: 100% !important;
    }
    .sign-box form label {
        margin-left: 3px;
    }
}
@media screen and (max-width: 485px) {
    .sign-box {
        height: 625px;
    }
}
@media screen and (max-width: 450px) {
    .sign-box {
        width: 100% !important;
    }
    .judul {
        width: 100% !important;
    }
}