.container {
    height: 655px !important;
}
.sign-box {
    width: 650px;
    height: 730px;
    background-color: rgba(36, 36, 36, 0.7);
    margin-top: 100px;
    border-radius: 10px;
    padding: 0px 20px;
}
.masuk-box {
    height: 450px;
}
.buat {
    height: 780px !important;
    padding: 0px 2%;
}
.sign-box img {
    margin-top: 20px;
}
.sign-box .digital {
    margin: 0;
}
form {
    position: relative;
    top: 190px;
}
.sign-box form label
{
	margin: 0;
	padding: 0;
    font-weight: 600;
    font-size: 14pt;
    color: #fff;
    text-align: left;
    margin-left: 12px;
    float: left;
}
.sign-box input
{
	width: 95%;
	margin-bottom: 20px;
}
.sign-box input[type="text"],
.sign-box input[type="password"]
{
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
button {
    position: relative;
    top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
    font-size: 22px;
    font-weight: 600px;
	background: #43D10F;
	cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
}
.h-btn {
    height: 40px !important;
}
.kuning {
    background: #43D10F !important;
}
small {
    color: #ffba54 !important;
    float: left !important;
    position: relative !important;
    top: 3px !important;
    left: 30px !important;
    font-size: 11pt !important;
}
small p {
    margin: 0px !important;
}
.punya {
    position: relative;
    top: 235px;
}
.punya p {
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    font-size: 14pt;
    font-weight: 200;
}
.punya a {
    text-decoration: none;
    background-color: indigo;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
@media screen and (max-width: 480px) {
    .sign-box input, .masuk-box input, select, button {
        width: 100% !important;
    }
    .masuk-box {
        width: 100% !important;
    }
    .sign-box form label, .masuk-box form label {
        margin-left: 3px;
    }
    .buat, .container {
        padding: 0px 1%;
    }
}
@media screen and (max-width: 450px) {
    .sign-box {
        width: 100% !important;
    }
    .judul {
        width: 100% !important;
    }
}